/* VARIABLES */
:root {
    --header-height: 80px;
    --footer-gray: rgb(195, 195, 195);
}

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    color: inherit;
}

/* UTILS */
.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
}
.container-special {
    margin: 0 auto;
    padding: 0 10px;
    width: 1200px;
    max-width: 100%;
}

button {
    background-color: #0061ff;
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 0;
}
button:hover {
    cursor: pointer;
}

.container-column {
    display: flex;
}

/* HEADER */

/* upper-header */
.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 2;
    width: 100%;

    background-color: whitesmoke;
    height: var(--header-height);
}
.upper-header > * {
    flex-basis: 50%;
}

.logo-header {
    padding: 5px;
}

header ul {
    display: flex;
    align-items: center;
}
header li {
    padding: 20px;
}
header a {
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
header .right-header ul {
    justify-content: end;
}

/* lower-header */
.lower-header {
    background-color: #b4d0e7;
    padding-top: calc(70px + var(--header-height));
}
.lower-header .container-column .col-two-header {
    height: 380px;
}

.col-one-header {
    position: relative;
}

.lower-header h1 {
    font-size: 4rem;
    font-weight: 800;

    padding-bottom: 50px;
}

.lower-header .col-one-header p {
    padding-bottom: 30px;
}
.lower-header .col-one-header button {
    margin-bottom: 30px;
}
.lower-header .col-one-header i {
    position: absolute;
    bottom: 20px;

    font-size: 3rem;
}
.lower-header .col-one-header i:hover {
    cursor: pointer;
}

.lower-header img {
    width: 800px;
}

/* MAIN */
main {
    padding-top: 150px;
}
main h2 {
    font-size: 2.5rem;
    padding-bottom: 60px;
}

/* scelta-piani */
main .scelta-piani input {
    height: 20px;
    width: 20px;
}
main .scelta-piani .radio-container {
    display: flex;
    align-items: center;
    padding-bottom: 80px;
}
main .scelta-piani .radio-container span {
    padding-left: 5px;
    padding-right: 80px;
}
/* colonne-piani */

/* FOOTER */
footer {
    display: none;
    background-color: #000000;
}

/* upper footer */
.upper-footer {
    padding: 100px;
}

footer .container-column > * {
    flex-basis: 20%;
}
footer h2 {
    padding-bottom: 15px; /* raddoppio la lunghezza per h2 */
    color: whitesmoke;
}
footer li {
    padding-bottom: 15px;
    color: var(--footer-gray);
}
footer a {
    text-decoration: none;
    color: inherit;
}
footer a:hover {
    text-decoration: underline;
}

/* separator-footer */
.separator-footer {
    border-top: 1px solid var(--footer-gray);
    width: 120px;
    height: 70px;
}

/* lower-footer */
.lower-footer {
    color: var(--footer-gray);
    padding-bottom: 50px;
}

.lower-footer span:hover {
    cursor: pointer;
}
