/* VARIABLES */
:root {
    --header-height: 80px;
    --footer-gray: rgb(195, 195, 195);
}

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    color: inherit;
}

/* UTILS */
.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
}
.container-special {
    margin: 0 auto;
    padding: 0 10px;
    width: 1200px;
    max-width: 100%;
}

button {
    background-color: #0061ff;
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 0;
}
button:hover {
    cursor: pointer;
}

.container-column {
    display: flex;
}

h3 {
    font-size: 1.5rem;
    padding-bottom: 20px;
}

p {
    padding-bottom: 30px;
}

.small-line {
    width: 100px;
    height: 1px;
    border-bottom: 1px solid lightgray;
}

/* HEADER */

/* upper-header */
.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 2;
    width: 100%;

    background-color: whitesmoke;
    height: var(--header-height);
}
.upper-header > * {
    flex-basis: 50%;
}

.logo-header {
    padding: 5px;
}

header ul {
    display: flex;
    align-items: center;
}
header li {
    padding: 20px;
}
header a {
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
header .right-header ul {
    justify-content: end;
}

/* lower-header */
.lower-header {
    background-color: #b4d0e7;
    padding-top: calc(70px + var(--header-height));
}
.lower-header .container-column .col-two-header {
    height: 380px;
}

.col-one-header {
    position: relative;
}

.lower-header h1 {
    font-size: 4rem;
    font-weight: 800;

    padding-bottom: 50px;
}

.lower-header .col-one-header p {
    padding-bottom: 30px;
}
.lower-header .col-one-header button {
    margin-bottom: 30px;
}
.lower-header .col-one-header i {
    position: absolute;
    bottom: 20px;

    font-size: 3rem;
}
.lower-header .col-one-header i:hover {
    cursor: pointer;
}

.lower-header img {
    width: 800px;
}

/* MAIN */
main section[class^="section"] {
    padding-top: 150px;
}
main h2 {
    font-size: 2.5rem;
    padding-bottom: 60px;
}

/* scelta piani */
main .section-piani input {
    height: 20px;
    width: 20px;
}
main .section-piani .radio-container {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}
main .section-piani .radio-container span {
    padding-left: 5px;
    padding-right: 80px;
}
/* colonne-piani */
main .section-piani .container .container-main {
    display: flex;
    justify-content: space-between;

    height: 400px;
    margin-bottom: 630px;
}
/* 3 colonne */
main .section-piani .container .container-main .col-main {
    flex-basis: 30%;
}
/* linea orizzontale */
main > .section-piani > .container > .col-main > .main-col-type {
    display: flex;
}
main
    > .section-piani
    > .container
    > .col-main
    > .main-col-type
    .main-prima-col {
    flex-basis: 70%;
}
main
    > .section-piani
    > .container
    > .col-main
    > .main-col-type
    .main-seconda-col {
    flex-basis: 30%;
    text-align: right;
}
main
    > .section-piani
    > .container
    > .col-main
    > .main-col-type
    .main-seconda-col
    button {
    padding: 10px 35px;
}

.main-col-title {
    border: 1px solid lightgray;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.main-col-type {
    border: 1px solid lightgray;
    border-bottom: none;
    padding: 40px 35px;
}
main > .section-piani > .container > .col-main .main-col-type {
    border-bottom: 1px solid lightgray;
}
.main-col-type h4 {
    font-size: 0.9rem;
    padding-bottom: 10px;
}
.main-col-type > i {
    font-size: 0.9rem;
    color: gray;
}
.main-col-type > ul {
    padding: 40px 0;
}
.main-col-type > ul > li {
    padding: 15px 0;
}
.main-col-type > button {
    width: 100%;
    margin-bottom: 30px;
}
.main-col-type > span {
    border-bottom: 1px solid lightgray;
    padding-bottom: 40px;
}

.main-col-salienti {
    border: 1px solid lightgray;
    border-top: none;
    padding: 40px 35px;

    height: 100%;
}
.main-col-salienti > h5 {
    font-size: 0.9rem;
    padding-bottom: 30px;
}
.main-col-salienti > ul > li {
    font-size: 0.9rem;
    padding-bottom: 25px;
}
.main-col-salienti > ul > li > i {
    color: #2365ff;
}

/* partner */
main .section-partner .container {
    display: flex;
}
main .section-partner .container .col-1 {
    flex-basis: 60%;
}
main .section-partner .container .col-2 {
    flex-basis: 40%;
}
main .section-partner .container .col-1 img {
    max-width: 100%;
    height: auto;
}
main .section-partner .container .col-2 {
    padding: 50px;
}
main .section-partner .container .col-2 button {
    color: black;
    background-color: white;
    border: 1px solid gray;
}

/* promo */
main .section-promo > .container:last-child {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
main .section-promo .card {
    flex-basis: 30%;
}
main .section-promo img {
    width: 100%;
    height: auto;
}

/* scopri i clienti */
main .section-clienti > .container > h2 {
    padding-bottom: 50px;
}

/* info sui clienti */
.sponsor-container-principale {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    width: 100%;
}
.sponsor-container-small {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33.33%;
}
.sponsor-container-special {
    display: flex;
    flex-direction: column;
    flex-basis: 33.33%;
    padding: 40px;
    background-color: #f5f5f5;
}
.sponsor {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 380px;
}
.sponsor > img {
    display: block;
    width: 180px;
    height: auto;
}
.sponsor-container-small div img {
    filter: invert(99%) sepia(5%) saturate(8%) hue-rotate(78deg)
        brightness(109%) contrast(100%);
}
.designit {
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
}
.arizona {
    background-color: #61082b;
}
.florida {
    background-color: #0093ce;
}
.topps {
    background-color: #ff1c1c;
}
.world {
    background-color: #d5001f;
}
.hearst {
    background-color: #b4d0e7;
}
.lonely {
    background-color: #0d2481;
}
.clear-channel {
    background-color: #ffd830;
}
.sponsor-container-special img {
    width: 250px;
    height: auto;
}

/* prova business */
.prova {
    background-color: #b4d0e7;
    color: #61082b;

    height: 300px;

    display: flex;
    align-items: center;
}
.prova > .container {
    position: relative;
}
.prova > .container > button {
    position: absolute;
    top: 0;
    right: 0;

    background-color: whitesmoke;
    color: black;
    padding: 10px 40px;
}
.prova > .container > h3 {
    font-size: 2.5rem;
}

/* FOOTER */
footer {
    display: none;
    background-color: #000000;
}

/* upper footer */
.upper-footer {
    padding: 100px;
}

footer .container-column > * {
    flex-basis: 20%;
}
footer h2 {
    padding-bottom: 15px; /* raddoppio la lunghezza per h2 */
    color: whitesmoke;
}
footer li {
    padding-bottom: 15px;
    color: var(--footer-gray);
}
footer a {
    text-decoration: none;
    color: inherit;
}
footer a:hover {
    text-decoration: underline;
}

/* separator-footer */
.separator-footer {
    border-top: 1px solid var(--footer-gray);
    width: 120px;
    height: 70px;
}

/* lower-footer */
.lower-footer {
    color: var(--footer-gray);
    padding-bottom: 50px;
}

.lower-footer span:hover {
    cursor: pointer;
}
