/* VARIABLES */
:root {
    --header-height: 80px;
}

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */
.container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
}
.container-special {
    margin: 0 auto;
    padding: 0 10px;
    width: 1200px;
    max-width: 100%;
}

button {
    background-color: #0061ff;
    color: whitesmoke;
    padding: 10px 20px;
    border: none;
    border-radius: 0;
}
button:hover {
    cursor: pointer;
}

/* HEADER */

/* upper-header */
.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    z-index: 2;
    width: 100%;

    background-color: whitesmoke;
    height: var(--header-height);
}
.upper-header > * {
    flex-basis: 50%;
}

.logo-header {
    padding: 5px;
}

header ul {
    list-style-type: none;
    color: inherit;

    display: flex;
    align-items: center;
}
header li {
    padding: 20px;
}
header a {
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
header .right-header ul {
    justify-content: end;
}

/* lower-header */
.lower-header {
    background-color: #b4d0e7;
    padding-top: calc(70px + var(--header-height));
}
.lower-header .two-column {
    display: flex;
}
.lower-header .two-column .col-two-header {
    height: 380px;
}

.col-one-header {
    position: relative;
}

.lower-header h1 {
    font-size: 4rem;
    font-weight: 800;

    padding-bottom: 50px;
}

.lower-header .col-one-header p {
    padding-bottom: 30px;
}
.lower-header .col-one-header button {
    margin-bottom: 30px;
}
.lower-header .col-one-header i {
    position: absolute;
    bottom: 20px;

    font-size: 3rem;
}
.lower-header .col-one-header i:hover {
    cursor: pointer;
}

.lower-header img {
    width: 800px;
}

/* MAIN */

/* FOOTER */
